<pdk-interaction-container (blur)="verify()">
  <div class="cpp-address__fields" [formGroup]="addressForm">
    @let field = fields();

    <pdk-form-field
      [label]="field.line1.label"
      [labelType]="field.line1.labelType"
      [errorMessages]="[
        { rule: 'required', message: field.line1.errorMessages.required },
        { rule: 'addressLine', message: field.line1.errorMessages.addressLine },
        { rule: 'maximumLength', message: field.line1.errorMessages.maximumLength }
      ]"
    >
      <input #line1El pdk-input pdk-text-input formControlName="line1" />
      @if (characterCountFor('line1'); as count) {
      <pdk-character-count [value]="count.value" [limit]="count.limit"></pdk-character-count>
      }
    </pdk-form-field>

    <pdk-form-field
      [label]="field.line2.label"
      [labelType]="field.line2.labelType"
      [errorMessages]="[
        { rule: 'required', message: field.line2.errorMessages.required },
        { rule: 'addressLine', message: field.line2.errorMessages.addressLine },
        { rule: 'maximumLength', message: field.line2.errorMessages.maximumLength }
      ]"
    >
      <input pdk-input pdk-text-input formControlName="line2" />
      @if (characterCountFor('line2'); as count) {
      <pdk-character-count [value]="count.value" [limit]="count.limit"></pdk-character-count>
      }
    </pdk-form-field>

    <pdk-form-field
      [label]="field.line3.label"
      [labelType]="field.line3.labelType"
      [errorMessages]="[
        { rule: 'required', message: field.line3.errorMessages.required },
        { rule: 'addressLine', message: field.line3.errorMessages.addressLine },
        { rule: 'maximumLength', message: field.line3.errorMessages.maximumLength }
      ]"
    >
      <input pdk-input pdk-text-input formControlName="line3" />
      @if (characterCountFor('line3'); as count) {
      <pdk-character-count [value]="count.value" [limit]="count.limit"></pdk-character-count>
      }
    </pdk-form-field>

    <pdk-form-field
      [label]="field.line4.label"
      [labelType]="field.line4.labelType"
      [errorMessages]="[
        { rule: 'required', message: field.line4.errorMessages.required },
        { rule: 'addressLine', message: field.line4.errorMessages.addressLine },
        { rule: 'maximumLength', message: field.line4.errorMessages.maximumLength }
      ]"
    >
      <input pdk-input pdk-text-input formControlName="line4" />
    </pdk-form-field>

    <pdk-form-field
      [label]="field.line5.label"
      [labelType]="field.line5.labelType"
      [errorMessages]="[
        { rule: 'required', message: field.line5.errorMessages.required },
        { rule: 'addressLine', message: field.line5.errorMessages.addressLine },
        { rule: 'maximumLength', message: field.line5.errorMessages.maximumLength }
      ]"
    >
      <input pdk-input pdk-text-input formControlName="line5" />
    </pdk-form-field>

    <pdk-form-field
      [label]="field.postcode.label"
      [labelType]="field.postcode.labelType"
      [errorMessages]="[
        { rule: 'required', message: field.postcode.errorMessages.required },
        { rule: 'postcode', message: field.postcode.errorMessages.postcode }
      ]"
    >
      <div class="cpp-address__postcode-row">
        <input [pdk-input]="10" pdk-text-input="postcode" formControlName="postcode" />
        @if (statusTag(); as tag) {
        <pdk-tag [color]="tag.color">{{ tag.label }}</pdk-tag>
        }
      </div>
    </pdk-form-field>
  </div>
</pdk-interaction-container>
