<pdk-form-field label="No fixed abode" labelType="none">
  <pdk-checkbox [formControl]="noFixedAbodeControl" [valueChecked]="true" [valueUnchecked]="false">
    No fixed abode
  </pdk-checkbox>
</pdk-form-field>

@if (!noFixedAbodeControl.value) {
<pdk-interaction-container (blur)="verify()">
  <div class="cpp-address__fields" [formGroup]="addressForm" pdk-margin-top="4">
    <pdk-form-field
      label="Address line 1"
      [errorMessages]="[
        { rule: 'required', message: 'Enter address line 1' },
        { rule: 'addressLine', message: 'Address line 1 contains invalid characters' }
      ]"
    >
      <input #line1El pdk-input pdk-text-input formControlName="line1" />
    </pdk-form-field>

    <pdk-form-field
      label="Address line 2 (optional)"
      [errorMessages]="[
        { rule: 'addressLine', message: 'Address line 2 contains invalid characters' }
      ]"
    >
      <input pdk-input pdk-text-input formControlName="line2" />
    </pdk-form-field>

    <pdk-form-field
      label="Address line 3 (optional)"
      [errorMessages]="[
        { rule: 'addressLine', message: 'Address line 3 contains invalid characters' }
      ]"
    >
      <input pdk-input pdk-text-input formControlName="line3" />
    </pdk-form-field>

    <pdk-form-field
      label="Address line 4 (optional)"
      [errorMessages]="[
        { rule: 'addressLine', message: 'Address line 4 contains invalid characters' }
      ]"
    >
      <input pdk-input pdk-text-input formControlName="line4" />
    </pdk-form-field>

    <pdk-form-field
      label="Address line 5 (optional)"
      [errorMessages]="[
        { rule: 'addressLine', message: 'Address line 5 contains invalid characters' }
      ]"
    >
      <input pdk-input pdk-text-input formControlName="line5" />
    </pdk-form-field>

    <pdk-form-field
      label="Town or city"
      [errorMessages]="[
        { rule: 'required', message: 'Enter a town or city' },
        { rule: 'addressLine', message: 'Town or city contains invalid characters' }
      ]"
    >
      <input pdk-input pdk-text-input formControlName="town" />
    </pdk-form-field>

    <pdk-form-field
      label="County (optional)"
      [errorMessages]="[{ rule: 'addressLine', message: 'County contains invalid characters' }]"
    >
      <input pdk-input pdk-text-input formControlName="county" />
    </pdk-form-field>

    <pdk-form-field
      label="Postcode"
      [errorMessages]="[
        { rule: 'required', message: 'Enter a postcode' },
        { rule: 'postcode', message: 'Enter a valid UK postcode' }
      ]"
    >
      <div class="cpp-address__postcode-row">
        <input [pdk-input]="10" pdk-text-input="postcode" formControlName="postcode" />
        @if (statusTag(); as tag) {
        <pdk-tag [color]="tag.color">{{ tag.label }}</pdk-tag>
        }
      </div>
    </pdk-form-field>
  </div>
</pdk-interaction-container>
}
