@import '../styles/toolkit';

.pdk-pager {
  &__link {
    @include govuk-responsive-padding(2, 'bottom');
    display: block;
    text-decoration: none;

    &-label {
      font-size: 16px;
      margin-left: 30px;
      text-decoration: underline;
    }

    &-text {
      margin-left: 10px;
      text-decoration: none;
      font-weight: bold;
    }

    &-title {
      @include govuk-responsive-padding(2, 'top');
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }
}
