@import '../styles/toolkit';

$module: 'pdk-time-input';

#{$module} {
  .#{$module} {
    @include govuk-clearfix;
    // font-size: 0 removes whitespace caused by inline-block
    font-size: 0;

    &__item {
      display: inline-block;
      margin-right: govuk-spacing(4);
      margin-bottom: 0;
      position: relative;
    }

    &__item--hour::after {
      @include govuk-font($size: 19);
      position: absolute;
      bottom: 10px;
      right: -12px;
      content: ':';
    }

    &__label {
      display: block;
    }

    &__input {
      margin-bottom: 0;
    }
  }
}
