@import '../styles/toolkit';
@import 'govuk-frontend/dist/govuk/components/footer/footer';

.pdk-footer__meta-item {
  dl {
    @include govuk-responsive-margin(1, 'top');
  }
  dt {
    display: inline;
    &::after {
      content: ': ';
    }
  }
  dd {
    display: inline;
    margin: 0;
    &::after {
      display: block;
      content: '';
    }
  }
}

// We need to override the path for the crest image
// GDS uses absolute path : /assets/images/govuk-crest.svg.
// Angular references the root domain because of the preceding '/'
// slash , when assets actually seat within the sub domain.

// packaging the library without the preceding slash cause unresolved errors.
// However according to https://github.com/angular/angular-cli/issues/23104#issuecomment-1121156816
// relative resources are finger printed and do not need to be copied over.
// This ensures that the images are resolved during preprocessing.
.govuk-footer__copyright-logo:before {
  -webkit-mask-image: url('../assets/images/govuk-crest.svg');
  mask-image: url('../assets/images/govuk-crest.svg');
  background-image: url('../assets/images/govuk-crest.svg');
}
