.cpp-address-postcode-finder {
  $visible-rows: 10;
  $row-height: 2.5rem;

  &__search {
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    button {
      margin-bottom: 2px;
    }
  }

  pdk-radio-group .govuk-radios {
    max-height: $visible-rows * $row-height;
    overflow-y: auto;
    padding-left: 10px;
  }
}
